@font-face {
    font-family: 'robotolight';
    src: url(../fonts/roboto-light-webfont.woff2) format("woff2"), url(../fonts/roboto-light-webfont.woff) format("woff"), url(../fonts/roboto-light-webfont.svg#robotolight) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'robotoregular';
    src: url(../fonts/roboto-regular-webfont.woff2) format("woff2"), url(../fonts/roboto-regular-webfont.woff) format("woff"), url(../fonts/roboto-regular-webfont.svg#robotoregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'robotobold';
    src: url(../fonts/robotobold-webfont.woff2) format("woff2"), url(../fonts/robotobold-webfont.woff) format("woff"), url(../fonts/robotobold-webfont.svg#robotobold) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'roboto_mediumregular';
    src: url(../fonts/robotomedium-webfont.woff2) format("woff2"), url(../fonts/robotomedium-webfont.woff) format("woff"), url(../fonts/robotomedium-webfont.svg#roboto_mediumregular) format("svg");
    font-weight: 400;
    font-style: normal
}

html {
    box-sizing: border-box;
    font-size: 16px
}

@media screen and (max-width:1200px) {
    html {
        font-size: 16px
    }
}

@media screen and (max-width:992px) {
    html {
        font-size: 15px
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 14px
    }
}

@media screen and (max-width:480px) {
    html {
        font-size: 13px
    }
 
}

body,
html {
    width: 100%;
    height: 100%
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    min-width: 320px
}

.container {
    min-height: 100%;
    max-width: 1000px;
    margin: 0 auto
}

@media screen and (max-width:1200px) {
    .container {
        width: 1000px
    }
}

@media screen and (max-width:992px) {
    .container {
        width: 750px;
        padding: 0 2.5rem
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 480px;
        padding: 0 2.5rem
    }
}

@media screen and (max-width:480px) {
    .container {
        width: auto;
        padding: 0 2.5rem
    }
}

li {
    list-style: none
}

p,
ul {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0
}

button,
input,
label,
select,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: 0 0;
    line-height: 1;
    font-size: 13px;
    font-family: Arial
}

input:focus {
    outline: 0
}

.pl__left,
.pl__right {
    position: absolute;
    background: #222;
    width: 51%;
    height: 100%;
    z-index: 2001
}

.pl__left {
    left: 0
}

.pl__right {
    right: 0
}

.loaded .pl__left,
.loaded .pl__right {
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    transform: translate(-100%);
    transition: transform .3s .4s;
    transition: transform .3s .4s, -webkit-transform .3s .4s
}

.loaded .pl__right {
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%)
}

.round,
.round:after,
.round:before {
    border: 3px solid transparent;
    border-radius: 50%
}

.loaded .round {
    transition: left .3s;
    left: -9999em
}

.round {
    width: 9.375rem;
    height: 9.375rem;
    top: 50vh;
    left: 50%;
    margin: -4.6875rem 0 0 -4.6875rem;
    position: absolute;
    border-top-color: #d1c905;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    z-index: 2002
}

.round:after,
.round:before {
    content: '';
    position: absolute;
    top: .625rem;
    left: .625rem;
    right: .625rem;
    bottom: .625rem;
    border-top-color: #00abd4;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

.round:after {
    top: 2.6875rem;
    left: 2.6875rem;
    right: 2.6875rem;
    bottom: 2.6875rem;
    border-top-color: #ff1400;
    -webkit-animation: antispin .3s infinite linear;
    animation: antispin .3s infinite linear;
    border-bottom-color: #ff1400
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px)
    }
    80% {
        -webkit-transform: translateY(10px)
    }
    to {
        -webkit-transform: translateY(0)
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

@-webkit-keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05)
    }
    70% {
        -webkit-transform: scale(.9)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.presentation__top {
    min-height: 26.5625rem;
    background: #000 url(../img/bg/pattern-black1.png)
}

.presentation__title-top {
    font-family: 'robotolight';
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px .1875rem #222;
    text-align: center;
    text-transform: uppercase;
    padding: 2.1875rem 0;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media screen and (max-width:768px) {
    .presentation__title-top {
        font-size: 2rem
    }
}

.presentation__bottom {
    min-height: 20rem;
    background: #fff url(../img/bg/pattern-white.png)
}

.presentation__bottom-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2.5rem 0;
    margin: 0 -2.5rem
}

.presentation__bottom-wrap.upper {
    position: relative;
    bottom: 18.125rem;
    margin-bottom: -18.125rem
}

.presentation__bottom-left {
    width: 28.75rem;
    margin: 0 2.5rem 1.25rem;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.presentation__img-wrap {
    max-height: 30rem;
    max-width: 24.5625rem;
    overflow: hidden
}

.presentation__bottom-img {
    width: 100%;
    height: 100%
}

.presentation__bottom-right {
    width: 28.75rem;
    margin: auto 2.5rem;
    text-align: center;
    font-family: 'robotolight';
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.presentation__title-bottom {
    text-transform: uppercase;
    font-size: 5.625rem;
    color: #ffc000
}

.presentation__form {
    min-height: 17.5rem;
    background: #fc0;
    border: .3125rem solid #fffffe;
    box-shadow: 1px 1px .1875rem #000
}

.label__email {
    font-size: 1.875rem;
    color: #000;
    font-family: 'robotolight';
    margin: 1.25rem 0;
    cursor: pointer
}

.presentation__input-email {
    width: 90%;
    height: 3.125rem;
    background: #fff;
    border: 1px solid #e1a900;
    font-family: 'robotoregular';
    font-size: 1.25rem;
    color: #000;
    text-indent: 1.25rem
}

.presentation__input-email:focus {
    border-color: transparent;
    box-shadow: 0 0 .4375rem #860
}

.presentation__input-email::-webkit-input-placeholder {
    font-family: 'robotolight';
    font-size: 1.25rem;
    color: #555
}

.presentation__input-email:-moz-placeholder,
.presentation__input-email::-moz-placeholder {
    font-family: 'robotolight';
    font-size: 1.25rem;
    color: #555
}

.presentation__input-email:-ms-input-placeholder {
    font-family: 'robotolight';
    font-size: 1.25rem;
    color: #555
}

.presentation__form-text {
    font-size: 1.25rem;
    color: #000;
    margin-top: .625rem
}

@-webkit-keyframes growBtn {
    0%, to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes growBtn {
    0%, to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

.presentation__form-btn {
    width: 90%;
    background: #b50000;
    padding: .9375rem;
    font-family: 'robotolight';
    font-size: 1.875rem;
    color: #fff;
    margin-top: .625rem;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 1px 1px .1875rem #700000;
    box-shadow: 1px 1px .25rem #000
}

.presentation__form-btn:hover {
    -webkit-animation: growBtn linear .5s infinite;
    animation: growBtn linear .5s infinite
}

.presentation__timer {
    margin: .9375rem 0 3.125rem;
    color: #000
}

.presentation__timer-title {
    font-family: 'robotoregular';
    font-size: 1.375rem;
    margin-bottom: .625rem
}

.countdownHolder {
    font-size: 1.875rem
}

.section.footer {
    background: #fff
}

.header__nav {
    position: absolute;
    top: -9999em;
    z-index: 1000;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    transition: .3s
}

@media screen and (max-width:992px) {
    .header__nav {
        display: none
    }
}

.header__nav:hover {
    background: rgba(0, 0, 0, .8)
}

.header__nav.nav__fixed {
    position: fixed;
    top: 0
}

.nav__list {
    text-align: center
}

.nav__items {
    display: inline-block;
    vertical-align: middle
}

.nav__items-link {
    padding: 1.25rem;
    display: block;
    color: #bbb;
    text-transform: uppercase;
    text-shadow: .0625rem .0625rem .1875rem #222;
    transition: color .3s;
    font-weight: 300
}

.nav__items-link.active,
.nav__items-link:hover {
    color: #fff
}

.nav-mobile {
    display: none;
    text-align: center;
    background: #333 url(../img/bg/pattern-grey.png);
    font-size: #020202;
    color: #000
}

.nav__items-mobile {
    padding: 2.5rem 0
}

.nav__items-mobile:hover {
    background: rgba(255, 255, 255, .5)
}

.nav__items-mobile_link {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #bbb
}

.mm-listview>li>a,
.mm-listview>li>span {
    padding: 20px
}

.btn__hamburger {
    display: none
}

@media screen and (max-width:992px) {
    .btn__hamburger {
        display: inline-block;
        position: fixed;
        z-index: 2000;
        right: 5%
    }
}

@media screen and (max-width:480px) {
    .btn__hamburger {
        right: 2%
    }
}

.hamburger {
    padding: 1.25rem .3125rem .9375rem .9375rem;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;
    transition: .3s
}

.hamburger:hover .hamburger-inner::before {
    -webkit-transform: translate3d(.5rem, 0, 0) rotate(45deg) scale(.7, 1);
    transform: translate3d(.5rem, 0, 0) rotate(45deg) scale(.7, 1)
}

.hamburger:hover .hamburger-inner::after {
    -webkit-transform: translate3d(.5rem, 0, 0) rotate(-45deg) scale(.7, 1);
    transform: translate3d(.5rem, 0, 0) rotate(-45deg) scale(.7, 1)
}

.hamburger:hover {
    opacity: .7
}

.hamburger-box {
    width: 2.5rem;
    height: 1.5rem;
    display: inline-block;
    position: relative
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    width: 2.5rem;
    height: .25rem;
    background-color: #111;
    border-radius: .25rem;
    position: absolute;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    display: block
}

.hamburger-inner {
    top: 50%;
    margin-top: -.125rem
}

.hamburger-inner::after,
.hamburger-inner::before {
    content: ""
}

.hamburger-inner::before {
    top: -.625rem
}

.hamburger-inner::after {
    bottom: -.625rem
}

.hamburger--3dx .hamburger-box {
    -webkit-perspective: 5rem;
    perspective: 5rem
}

.hamburger--3dx .hamburger-inner {
    transition: transform .15s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1);
    transition: transform .15s cubic-bezier(.645, .045, .355, 1), background-color 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform .15s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dx .hamburger-inner::after,
.hamburger--3dx .hamburger-inner::before {
    transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1);
    transition: transform 0s .1s cubic-bezier(.645, .045, .355, 1), -webkit-transform 0s .1s cubic-bezier(.645, .045, .355, 1)
}

.hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.hamburger--3dx.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, .625rem, 0) rotate(45deg);
    transform: translate3d(0, .625rem, 0) rotate(45deg)
}

.hamburger--3dx.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -.625rem, 0) rotate(-45deg);
    transform: translate3d(0, -.625rem, 0) rotate(-45deg)
}

.section__title {
    width: 100%;
    background: #fc0;
    text-align: center;
    font-family: 'robotolight';
    font-size: 2.5rem;
    color: #000;
    padding: 1.875rem 0;
    text-transform: uppercase
}

.section__title-text {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ps__items,
.ps__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ps__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 5rem -2.5rem 0
}

.ps__items {
    min-height: 14.375rem;
    border: 1px solid #bbb;
    background: #fff;
    width: 28.75rem;
    margin: 0 2.5rem 5rem;
    word-wrap: break-word;
    cursor: pointer
}

.ps__items-left {
    min-width: 6.25rem;
    position: relative
}

.ps__items-num {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 4.6875rem;
    width: 4.6875rem;
    border-radius: 50%;
    background: #fc0;
    line-height: 4.375rem;
    font-family: 'robotoregular';
    font-size: 2.75rem;
    color: #000;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 1px 1px .1875rem #bbb;
    transition: .3s linear
}

.ps__items-right {
    padding: 1.875rem 1.25rem;
    position: relative;
    border-left: 1px solid #bbb;
    overflow: hidden
}

.ps__items-title,
.ps__middle-title {
    text-transform: uppercase;
    font-family: 'robotoregular';
    font-size: 1.875rem;
    color: #000
}

.ps__items-text {
    font-family: 'robotolight';
    font-size: 1.125rem;
    color: #333;
    transition: color .3s
}

.ps__middle-title {
    text-align: center;
    margin: 0 0 5rem;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ps__middle-title .orange {
    color: #ff8a00
}

.ps__bottom {
    width: 100%;
    background: #000 url(../img/bg/pattern-black1.png)
}

.img__wrap_less {
    max-width: 21.25rem;
    max-height: 28.3125rem;
    margin: auto
}

@media screen and (max-width:768px) {
    .img__wrap_less {
        display: none
    }
}

.presentation__timer_white {
    color: #fff
}

.btn__title {
    font-family: 'robotoregular';
    font-size: 1.875rem;
    color: #fff;
    text-transform: uppercase
}

.text__yellow {
    color: #fc0
}

.ps__btn {
    background: #d7d7d7;
    margin-top: .625rem;
    width: 90%;
    display: inline-block;
}

.ps__btn:hover {
    background: #fc0
}

.btn__link {
    display: block;
    padding: .9375rem;
    font-family: 'robotolight';
    font-size: 1.875rem;
    color: #000;
    text-transform: uppercase;
    box-shadow: 1px 1px .25rem #000;
    cursor: pointer
}

.section.problems {
    background: #333 url(../img/bg/pattern-grey.png)
}

.items__bg-1:after {
    background: url(../img/problems/1.jpg) no-repeat center center
}

.ps__items:hover .items__bg-1:after,
.ps__items:hover .items__bg-2:after,
.ps__items:hover .items__bg-3:after,
.ps__items:hover .items__bg-4:after,
.ps__items:hover .items__bg-5:after,
.ps__items:hover .items__bg-6:after,
.ps__items:hover .items__bg-bookmark:after,
.ps__items:hover .items__bg-diamond:after,
.ps__items:hover .items__bg-glove:after,
.ps__items:hover .items__bg-lightning:after,
.ps__items:hover .items__bg-rocket:after,
.ps__items:hover .items__bg-sword:after {
    top: 0;
    margin-top: 0;
    opacity: .5
}

.items__bg-1:after,
.items__bg-2:after,
.items__bg-3:after {
    content: "";
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -10px;
    transition: .3s linear
}

.items__bg-2:after {
    background: url(../img/problems/2.jpg) no-repeat center center
}

.items__bg-3:after {
    background: url(../img/problems/3.jpg) no-repeat center center
}

.items__bg-4:after {
    background: url(../img/problems/4.jpg) no-repeat center center
}

.items__bg-4:after,
.items__bg-5:after,
.items__bg-6:after {
    content: "";
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -10px;
    transition: .3s linear
}

.items__bg-5:after {
    background: url(../img/problems/5.jpg) no-repeat center center
}

.items__bg-6:after {
    background: url(../img/problems/6.jpg) no-repeat center center
}

.ps__items:hover .ps__items-num {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    box-shadow: 0 0 .1875rem #bbb
}

.section.solution,
.section.steps {
    background: #fff url(../img/bg/pattern-white.png)
}

.solution__sprite {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 3.75rem;
    width: 3.75rem;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.ps__items {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.items__bg-rocket:after {
    background: url(../img/solution/rocket.jpg) no-repeat center center
}

.items__bg-glove:after,
.items__bg-lightning:after,
.items__bg-rocket:after {
    content: "";
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -10px;
    transition: .3s linear
}

.items__bg-glove:after {
    background: url(../img/solution/glove.jpg) no-repeat center center
}

.items__bg-lightning:after {
    background: url(../img/solution/lightning.jpg) no-repeat center center
}

.items__bg-bookmark:after {
    background: url(../img/solution/bookmark.jpg) no-repeat center center
}

.items__bg-bookmark:after,
.items__bg-diamond:after,
.items__bg-sword:after {
    content: "";
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -10px;
    transition: .3s linear
}

.items__bg-sword:after {
    background: url(../img/solution/sword.jpg) no-repeat center center
}

.items__bg-diamond:after {
    background: url(../img/solution/diamond.jpg) no-repeat center center
}

.ps__items:hover .solution__sprite {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.ps__items:hover .ps__items-text {
    color: #000
}

.steps__list {
    padding: 5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.steps__items {
    background: #fff;
    width: 10.875rem;
    min-height: 10.875rem;
    margin: .75rem;
    border-radius: 50%;
    border: .1875rem double #bbb;
    text-align: center;
    word-wrap: break-word;
    transition: .3s;
    font-family: 'robotolight';
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.steps__items:first-child {
    margin-left: 0
}

.steps__items:last-child {
    margin-right: 0
}

.steps__items:hover {
    border: .1875rem solid #777;
    background: #fdffc4;
    box-shadow: 0 0 0 4px #aaa
}

.steps__items-sprite {
    display: inline-block;
    margin-top: 1.875rem;
    width: 2.8125rem;
    height: 2.8125rem;
    max-width: 100%;
    background-size: 100%;
    background-image: url(../img/steps/sprite.png)
}

.steps__items-title {
    padding: 0 .5rem
}

.sprite__archive {
    background-position: 0 0%;
    background-size: 100%
}

.sprite__check,
.sprite__flag {
    background-position: 0 25%;
    background-size: 100%
}

.sprite__flag {
    background-position: 0 50%
}

.sprite__mail,
.sprite__reply {
    background-position: 0 75%;
    background-size: 100%
}

.sprite__reply {
    background-position: 0 100%
}
@media screen and (max-width:480px){
   .ps__items-title {
    font-size: 1.5rem
  }
}



/*# sourceMappingURL=app.css.map */